<br><br><br><br><br><br>

<headline> <h1> Edit Your Expendature </h1> </headline>

<br><br><br><br>

<form action="/counting_pennies/<%= @spending.id %>" method="post">

  <label for="tag-field"> Tag Field </label>
  <select id='tag-field' name="tag_id">
    <% @tag.each do |tag| %>
    <option value="<%= tag.id %>"> <%= tag.name %> </option>
    <% end %>
  </select>

<br>
<p></p>

<label for="merchant-field"> Merchant Field</label>
<select id='merchant-field' name="merchant_id">
  <% @merchant.each do |merchant| %>
  <option value=" <%= merchant.id %> "> <%= merchant.name %> </option>
  <% end %>
</select>


  <br>
  <p></p>

  <label for="price-field"> Price </label>
  <input type="text"
  name="price"
  id='price-field'
  value="<%= @spending.price %>">

  <br>
  <p></p>

  <label for="product-field"> Product </label>
  <input type="text"
  name="product"
  id='product-field'
  value="<%= @spending.product %>">

  <br>
  <p></p>

  <label for="date-field"> Date </label>
  <input type="date"
  name="purchase_date"
  id='date-field'
  value="<%= @spending.purchase_date %>">

  <input type="hidden" name="id" value="1">

  <input type='submit' value="Edit Spending">
</form>
