<form action="/counting_pennies" method="post">

  <label for="tag-field"> Tag </label>
  <input type="text"
  name="tag"
  id="tag-field"
  value=" <%= @spending.tag %>" >

<br>
<p></p>

  <label for="merchant-field"> Merchant </label>
  <input type="text"
  name="merchant"
  id='merchant-field'
  value="<%= @spending.merchant %>">

  <br>
  <p></p>

  <label for="price-field"> Price £</label>
  <input type="text"
  name="price"
  id='price-field'
  value="<%= @spending.price %>">

  <br>
  <p></p>

  <label for="product-field"> Product </label>
  <input type="text"
  name="product"
  id='product-field'
  value="<%= @spending.product %>">

  <br>
  <p></p>

  <label for="date-field"> Date </label>
  <input type="date"
  name="purchase_date"
  id='date-field'
  value="<%= @spending.purchase_date %>">

  <input type='submit' value="Edit Spending">
</form>
