<h1>Welcome to Count the Pennies</h1>


<% @spendings.each do |spending| %>

<p> Purchase Date: <%= spending.purchase_date %></p>
<p> Tag: <%= spending.tag %> </p>
<p> Merchant: <%= spending.merchant %> </p>
<p> Product: <%= spending.product %> </p>
<p> Price: £<%=spending.price%></p>


<% end %>
