<form action="/counting_pennies" method="post">


  <label for="tag-field"> Tag Field </label>
  <select id='tag-field' name="tag_id">
    <% @tag.each do |tag| %>
    <option value="<%= tag.id %>"> <%= tag.name %> </option>
    <% end %>
  </select>

    <label for="merchant-field"> Merchant Field</label>
    <select id='merchant-field' name="merchant_id">
      <% @merchant.each do |merchant| %>
      <option value=" <%= merchant.id %> "> <%= merchant.name %> </option>
      <% end %>
    </select>



  <label for="price-field"> Price Field </label>

  <input id='price-field' type='text' name="price" required>


  <label for="product-field"> Product Field </label>

  <input id='product-field' type='text' name="product" required>


  <label for="date-field"> Date Field </label>

  <input id='date-field' type='date' name="purchase_date" required>

  <input type="hidden" name="user_id" value="<%= @user.id %>">


  <input type="submit" value="Create">


</form>
