<br><br><br><br><br><br>


<div class="headline">
  <h1>Today's Expenditures</h1>
</div>

<br><br><br>
<div class="centre">


<br><br><br>

</div>
<div class="centre">
  <div class="button1 button"><p><a href="/counting_pennies/new/<%= @user_id %>">New Expenditure</a></p></div> </div>







  <% @spendings.each do |spending| %>

  <% if spending.purchase_date >= Date.today.to_s == true %>


  <br><br>

  <div class="centre">

    <div class="grid">

      <div class="cell"><p> Purchase Date: <%= spending.purchase_date %></p></div>

      <div class="cell"><p> Tag: <%= spending.get_tag.name %> </p></div>

      <div class="cell"><p> Merchant: <%= spending.get_merchant.name %> </p></div>

      <div class="cell"><p> Product: <%= spending.product %> </p></div>

      <div class="cell"><p> Price: £<%=spending.price%></p></div>
    </div>

  </div>

  <br><br>


</div>

<div class="centre">
  <div class="button1 button">
    <p><a href="/counting_pennies/<%= spending.id %>" type="button">Show Expenditure</a></p>
  </div>



<div class="button1 button"><p><a href="/counting_pennies/<%= spending.id %>/edit">Edit Expenditure</a></p> </div> </div>

<br><br><br><br>
<% else %>


<% end %>
<% end %>

<div class="centre">

<h3>TOTAL EXPENDITURE:
<%= @spendings.map { |spending| Spending.today_spending(spending).to_i}.sum %></h3>

</div>
